<!DOCTYPE html>
<html>
<head>
    <title>Node Express with Auth</title>
    <style>
    </style>
</head>
<body>
<div>
    <h1>Node Authentication</h1>

    <p>Login or Register with:</p>

    <a href="/login">Local Login</a>
    <a href="/signup">Local Signup</a>
</div>
</body>
</html>
